/* ХЕДЕР */
.header {
    background-color: #302f2f;
    min-height: 67px;

}

.upper {
    text-transform: uppercase;
}

.header a {
    color: #ffffff;
}

.container {
    width: 999px;
}

.nav-item {
    border-right: 2px dotted black;
    padding-right: 37px;

}

.nav {
    padding-top: 20px;
}

/* второй экран */
.second_screen {
    background: url(/img/header\ bcgr.png);
    min-height: 799px;
    margin-top: 20px;
}

.logo-call {
    z-index: 999;
    background-color: #000000;
    opacity: 0.6;
    min-height: 84px;
}
.logo-call__href{
    
}
.logo-call__logo {
    width: 285px;
}

.logo-call__uber {
    color: #ffffff;
    font-family: "Nokia - Sans - S 60";
    font-size: 26px;
    font-weight: 400;
    line-height: 68px;
    letter-spacing: 1.95px;

}

.logo-call__official_dealer {
    opacity: 0.5;
    color: #ffffff;
    font-family: "Roboto - Thin";
    font-size: 13px;
    font-weight: 400;
    margin-top: -8px;
}